{% load static %}
<html lang="en">
<head>
  <title>MUSIC EVENTS</title>
  <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css" />
</head>

<body>
    <header>
      <h1>MUSIC EVENTS</h1>
      <div>
        <a href="{% url 'events:homepage' %}">Home</a>
        <a href="{% url 'events:venue_list' %}">Venues</a>
        <a href="{% url 'events:artist_list' %}">Artists</a>
        {#  <a href="{% url 'events:show_list' %}">Shows</a>#}
      </div>

    </header>
    <hr>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
        <p>Created by: <span>Fernando Molano</span></p>
    </footer>

</body>
</html>
